.flexbox-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;     
    <!--center, space-between, space-around (main axis)-->
    align-items: stretch; <!--flex-start,center(main axis direction)-->
    align-content:center; <!--center, flex-start, flex-end, space-between, 
    all these to be useed on multiline flexbox container (Cross Axis direction)-->
}

.flexbox-item {
    width: 200px;
    margin: 10px;
    border: 3px solid #333;
    background-color: #dfdfdf;
}

.flexbox-item-1 {
    min-height: 100px;
    flex-shrink: 0;
    flex-basis: 0; (size)
    align-self: flex-end;
    order: 3; (rotate the display order 
    of the differnt flex-box items without changing the html code, 
    not adviced to use while the browsers-screen reader still uses the order in the html)
}

.flexbox-item-2 {
    min-height: 200px;
    flex-grow: 2;
    Flex-basis: 0;
    align-self: center;  <!--independent action command for a single item->
    order: 1;
}

.flexbox-item-3 {
    min-height: 300px;
    flex-grow: 1;
    flex-basis: 0;
    order: 2;
}



to sum this learning

.flexbox- {
    display: flex;
    Justify-content: center;

}

.flexbox-item {
    flex; 1 0 0px; <!-shorthand; flex-grow, flex-shrink, flex basic-->
}