/*new*/
/*General style and links*/
:root {
  --primary-bg-color: #0b0b0b;;;
  --primary-color-1: #fff;
  --primary-color-2: #de127e;
  --primary-color-3: rgb(255, 172, 5);
  --primary-hover: rgb(5, 192, 255);
  --main-width: 100%;
  --font-family-1: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
  --font-family-2: 'roboto','Open Sans', Verdana, sans-serif;
  box-sizing: border-box;
}

* {
  padding: 0%;
  margin: 0%;
}

html,body{
  width: 100%;
  font-family: var(--font-family-1);
  font-weight: 400;
}

.content {
  max-width: var(--main-width);
  background-color: var(--primary-bg-color);
  display: grid;
  place-items: center;
}

/*navigation styles start here*/
header {
  background-color: var(--primary-color-2);
  text-align: center;
  position: fixed;
  z-index: 99%;
}
---------------------------------------------
----------------------------------------------
nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  position: relative;
  background: var(--primary-bg-color);
  padding: 12px 20px;
}
.logo img {
  position: relative;
  justify-items: flex-start;
  width: 100px;
}

.menu {
  display: flex;
}

.menu li {
  padding-left: 30px;
}

.menu li a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: var(--primary-color-1);
  text-align: end;
  right: 2px;
  transition: 0.15s ease-in-out;
  text-transform: uppercase;
  background-color: var(--primary-bg-color);
  opacity: 0.8;
}

.menu li a:hover:after {width: 100%;}
.open-menu, .close-menu {
  position: absolute;
  color: var(--primary-color-1);
  cursor: pointer;
  font-size: 1.2rem;
}
.open-menu {
  top: -48px;
  right: 0;
}


.close-menu {
  top: 40px;
  right: 90px;
}
  

#check {
  display: none;
}

nav {
  grid-area: nav;
  z-index: 2;
}
 

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}


nav ul li {
  display: inline-block;
  margin:  0 10px;
}

header{
  position: relative;
  width: var(--main-width);
  background: var(--primary-color-3);
  color: var(--primary-color-1);
  padding: 10px;
  font-size: 1,5rem;
}

.logo {
  align-items: center;
  width: 150px;
  padding-top: 5px;
}

body {
  background-color: var(--primary-bg-color);
  font-family: var(--font-family-1);
  min-height: 100vh; 
  margin: 20px 20px 0px 20px;
  display: grid;
  justify-content: center;
  grid-template-rows: auto 1fr auto;
}

.main {
  max-width: 1000px;
  height: auto;
  margin: auto;
  vertical-align: top;
  background-color: var(--primary-bg-color);
}

.product-list h2 {
  font-family: var(--font-family-1)
}

h1,
.main-heading {
  font-family: var(--font-family-1);
  font-size: 1.55rem;
  font-weight: 500;
  line-height: 2rem;
  color:var(--primary-color-1);
  padding: 5px 5px 5px 10px;
  flex: -1/1;
}

.small-heading {
  font-family: var(--font-family-1);
  font-size: 0.9275rem;
  font-weight: 500;
  line-height: 1.2rem;
  color: var(--primary-color-1);
  padding: 3px 3px 3px 10px;
  flex: -1/1;
}
      
h2 {
  font-family: var(--font-family-1);
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: var(--primary-color-1);
}
    
h3 {
  font-family: var(--font-family-2);
  font-size: 1.0625rem;
  font-weight: 300;
  line-height: 1.25rem;
  text-decoration: none;
  color: var(--primary-color-1);
}

p,
a{  font-family: var(--font-family-2);
  font-size: 0.85rem;
  font-weight: 500;
  line-height: 1rem;
  text-decoration: none;
  color: var(--primary-color-1);

}
    
h4,
input,
.form
.text-area,
.label {
  font-family: var(--font-family-2);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.25em;
  color: var(--primary-color-1);
}
  
h5 {
  font-family: var(--font-family-2);
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.125em;
  color: var(--primary-color-1);
}
  
h6 {
  font-family: var(--font-family-2);
  font-size: 0.75em;
  font-weight: 400;
  line-height: 0.75em;
  color: var(--primary-color-1);
}


/* Links*/
a {
  text-decoration: none;
}
  
header a {
  color: #fff;
  padding: 10px;
}
  
.cta,
.cta-film-info,
.cta-buy,
.cta-info {
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
  border-radius: 10px;
  gap: 10px;
  border: 0px;
  padding: 5px 20px;
  position: relative;
  display: flex;
  text-align: left;
  overflow: hidden;
  margin: 20px 10px 30px 10px;
}

.button {
  border: none;
}

.cta,
.cta-film-info {
  background-color: green;
}

.cta-buy{
  background-color: red;
  align-items: center;
  justify-content: center;
}
.cta-info{
  background-color: orange;
  align-items: center;
  justify-content: center;
}
  
.cta:before {
  background-color: orange;
}
  
.cta:hover:before {
  left: 110%;
}
  
.cta-large {
  padding: 10px 40px;
}
  
.cta-small {
  padding: 8px 20px;
  font-size: 0.8em;
  grid-column: 2;
  grid-row: 2;
  min-width: 51.2px;
  text-align: center;
  margin-top: 5px;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
  --------------------------------------

nav, 
#check{
  display: none;
}
#check:checked {
  display: block;
}

#check:checked ~ nav {
  display: none;
}

.checkbtn {
  display: block;
}

.checkbtn{
  font-size: 20px;
  font-weight: 600;
  color: var(--primary-color-1)
}

header {
  position: relative;
  background-color: #202020;
  color: var(--primary-color-1);
  padding: 5px;
  font-size: 1.0rem;
}

.logo {
  display:contents;
  padding: 5px;
  max-width: 120px;
  height: auto;
  border: 2px solid red;
}

nav {
  position: absolute;
  background: var(--primary-bg-color);
  top: 10px;
  right: 20px;
  height: 50px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav a {
  display: block;
  color: var(--primary-color-1);
  padding: 10px 20px;
  font-size: 1.0rem;
}

.cart-icon {
  font-size: 4em;
}       

header,
footer {
  background-color: var(--primary-bg-color);
  color: #fff;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  position:relative;
  justify-content: flex-start;
}

.flex-item1,
.flex-item2,
.flex-item3,
.flex-item4 {
  flex-grow: 1;
  padding: 5px 5px 5px 10px;
}

.flex-item1 {
  flex-basis: 400px;
}

.flex-item2 {
  flex-basis: 400px;
}

.flex-item3 {
  flex-basis: 450px;
}

.flex-item4 {
  flex-basis: 3500px;
}

.film-group image {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.film-group image {
  grid-column: -1/1;
}

.film-group h2,
.film-group h3,
.film-group h4{
  grid-column: 1;
  margin: 5px;
  text-align: center;
}

.socials a {
  color: var(--primary-color-1);
  font-size: 1.5625rem;
  text-decoration: none;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

footer {
  text-align: center;
  padding: 20px;
}

/*Home*/


.page-intro {
  display:flex;
  flex-direction: row;
  flex: wrap;
}

.film-content,
.page-intro {
  max-width: 1000px;
  display: flex;
}

.page-intro > *,
.film-group> * {
  flex: 1;
}

.intro h1,
.page-intro text {
  text-align: start;
  justify-content: left;
  flex:-1/1;
}


.image,
.film-group image  {
  border-radius: 20px;
  border: solid 4px;
  color: rgb(121, 163, 204);
  align-content: center;
  justify-content: center;
  gap: 10px;
  width: 75%;
}

.film-group {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1000px;
  margin: 30px auto;
  gap: 5px;
}

.film-headings h2 {
  grid-column: -1/1;
}

.flexbox-container {
  display: flex;
  align-self: baseline;
  height:auto;
}

.flexbox-item-1 {
  align-self: flex-start;
  order: 1;
}

.flexbox-item-2 {
  align-self: flex-end;
  order: 2;
}

/*Films*/
.film-group {
  margin: auto;
}

.film-feature {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}



/*Selected film*/
.film-feature {
  display: flex;
  max-width: 500px;
  flex-direction: column;
  margin-bottom: 50px;
}

.film-feature > * {
  flex: 1;
}

.film-feature price {
  font-size: 1.5em;
}

/*Contact us*/
input,
select,
textarea {
  color: var(--primary-bg-color);
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  margin: 10px 10px 10px 0px;
  padding: 10px;
}

.form {
  color: var(--primary-color-1);
  display: flex;
  max-width: 50%;
  text-align: left;
  flex-direction: column;
  border-radius: 3px;
  border-color: rgb(127, 127, 127);
}

.text-area {
  height: 65%;
  min-height: 100px;
}

.table {
  max-width: 350px;
  padding: 10px 15px;
  border: var(--primary-hover);
  border-radius: 5px;
}

.input {
  width: auto;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

/*@media*/
@media screen and (max-width: 400px) {
  .film-group {
    grid-template-columns: 1fr;
  }

  .flex-container{
    display: flex;
    flex-direction:column;
  }

  nav {
  display: block;
  position: static;
  }

  .logo{
  align-items: start;
  }

  .checkbtn {
    display: block;
  } 

  .check:checked{
    display: block;
  }

  nav a {
    display: block;
    padding: 0px;
  }

  .flex-container{
    flex-direction: column;
  }
}

@media screen and (min-width: 800) {
  .checkbtn{
    display: none;
  }


header {
  display: grid;
  grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
}

.logo {
  grid-column: 2/3;
}

nav {
  all: unset;
  grid-column: 3/4;
  display: flex;
  justify-content:flex-end;
  display: inline-block;
  align-items: center;
  border: 2px solid rgb(65, 37, 226);
}

nav ul {
  display: flex;
  justify-content: flex-end;
}

nav li {
  margin-left: 3em;
  margin-bottom: 0;
}

nav a {
  opacity: 1;
  display: inline-block;
  padding: 0px;
  }
}


  
@media (min-width: 400px) {
  .film-group {
    grid-template-columns: 1fr 1fr;
  }

  .flex-container{
    flex-direction: row;
  }
}

---------------------------------------------------


@media (min-width: 650px){
  .film-group {
    grid-template-columns: repeat(2, 1fr);
  }

  .flex-container {
    flex-direction: row;
  }

  header {
    justify-content: start;
  }

  header label {
    display: none;
  }

  .film-feature {
    flex-direction: column;
  }

  .form-wrapper {
    flex-direction: row;
  }

  .page-intro h1 {
    text-align: left;
  }
}

@media (min-width: 750px) {
  .film-group {
    grid-template-columns: repeat(4, 1fr);
  }

  .film-content,
  .page-intro {
    flex-direction: row;
  }

  header {
    justify-content: start;
  }

  .cta-large {
    padding: 10px 80px;
  }

 .page-intro {
    flex-direction: row;
    margin: 50px auto;
  }

}

@media (min-width: 600px) {
  nav {
  display:inline-block;
  position: static;
  }

  .checkbtn{
  display: block;
  }

  nav a{
  display: inline-block;
  }
}

@media (max-width: 952) {
  label.logo {
    font-size: 100px;
    padding-left: 50px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (min-width: 653px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
  }

  .chechbtn{
    display: none;
  }

  .nav a{
    display: inline-block;
  }
}

@media (max-width: 652px) {
  #check {
    display: none;
  }

.nav a{
    display: block;
    color: var(--primary-color-2);
 }

  .logo {
    align-content: left;
    align-items: start;
    width: 100px;
  }

  .content {
    grid-template-columns: 1fr;
  }
------------------------------------
  .nav ul {
    position: relative;
    width: fit-content;
    height: auto;
    top: 60px;
  }

  .nav ul li {
    display: block;
    align-items: flex-end;
    color: var(--primary-color-2);
    margin: 20px 0;
    font-size: 0.85rem;
    line-height: 1rem;
    left: -150px;
    text-align: left;
    transition: all .5s ease-in-out;
  }

  #check:checked~ul {
    left: 0;
  }
}

@media (max-width: 590px){
  .menu {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 80%;
      height: 100vh;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 100;
      background: var(--color2);
      transition: all 0.2s ease-in-out; 
  }

  .menu li {
      margin-top: 40px;
  }
  .menu li a {
      padding:10px
  }
  .open-menu, .close-menu {
      display: block;
      cursor: pointer;
      position: nav;
      top: 10px;
      right: 30px;
    }
    
  #check:checked ~ .menu {
    right: 0;
  }
}